.friend-game-list--supplemental-text {
  color:#8181817e;
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
}

.friend-game-list--supplemental-text:hover {
  color: rgb(68, 172, 226)!important;
}

