.focused-image-list--container {
  width: 40%;
  overflow: scroll;
  min-width: 50em;
}

.focused-image-list--selected-artwork {
  border-radius: 15px;
  padding: 0.5em;
  max-width: 11em;
  max-height: 11em;
  width: 11em;
  height: 11em;
  border: 5px solid #555;
}

li {
  border-radius: 15px;
}

.focused-image-list--unselected-artwork {
  border-radius: 15px;
  width: 11em;
  height: 11em;
  max-width: 11em;
  max-height: 11em;
  padding: 0.5em;
}

.focused-image-list--main-artwork-container {
  width: 40%;
  margin-bottom: 1em;
}

.focused-image-list--main-artwork {
  margin-left: auto;
  margin-right: auto;
  height: 30em;
  width: auto;
  display: block;
}
